.app {
  background: #c0edc6;
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 2rem;
}


.app__header {
  font-size: 1.2rem;
  color: #2e352e;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
}


html{font-size:14px}
@media screen and (min-width:321px) and (max-width:375px){html{font-size:13px}}
@media screen and (min-width:376px) and (max-width:414px){html{font-size:14px}}
@media screen and (min-width:415px) and (max-width:639px){html{font-size:15px}}
@media screen and (min-width:640px) and (max-width:719px){html{font-size:16px}}
@media screen and (min-width:720px) and (max-width:749px){html{font-size:18px}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:20px}}
@media screen and (min-width:800px){html{font-size:20px}}

