.App {
  text-align: center;
  background: #bcdcbe;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App__header {
  font-size: 1.2rem;
  color: #2e352e;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
}

